In [37]:
import gensim.models.wrappers.fasttext
model = gensim.models.KeyedVectors.load_word2vec_format('../fastext aligned/wiki.en.align.vec', binary=False, encoding='utf8')
word_vectors = model.wv

/Users/christophergilbertcarroza/PyEnviroments/BW/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
word_vectors.most_similar("cat")

[('cats', 0.73211669921875),
 ('kitten', 0.6452999114990234),
 ('dog', 0.6380449533462524),
 ('kittens', 0.6217814683914185),
 ('feline', 0.6106876134872437),
 ('cat/dog', 0.5801181793212891),
 ('pet', 0.5726068019866943),
 ('fluffykittens', 0.5583419799804688),
 ('poodle', 0.557597279548645),
 ('felines', 0.5575810670852661)]

In [33]:
from gensim.models.fasttext import load_facebook_vectors

In [36]:
word_vectors

In [38]:
model.save('../fastext aligned/bin/wiki.en.align.bin')

In [45]:
from gensim.models import KeyedVectors
word_vectors = KeyedVectors.load('../fastext aligned/bin/wiki.en.align.bin', mmap='r')

In [51]:
word_vectors['cat']

memmap([-0.0327,  0.0332, -0.0772,  0.0275, -0.0469,  0.1078,  0.0504,
        -0.1214,  0.008 ,  0.0365,  0.0359, -0.0007,  0.0465, -0.0417,
         0.0666, -0.0216,  0.0181, -0.1038,  0.0469,  0.0666,  0.0023,
         0.1221, -0.0987,  0.0255,  0.0834,  0.0058, -0.0176,  0.063 ,
         0.0798,  0.1121,  0.0639,  0.0554,  0.0276, -0.0525,  0.0444,
        -0.024 , -0.0154, -0.0101,  0.0151, -0.0066, -0.0261, -0.0619,
        -0.0529, -0.0088,  0.0302,  0.1228, -0.0194, -0.0926,  0.0387,
        -0.0696,  0.022 , -0.0141, -0.0218, -0.0827,  0.0747,  0.0894,
         0.0022, -0.1003,  0.0178,  0.0456,  0.0493, -0.112 ,  0.0222,
         0.0507, -0.0145, -0.0894,  0.0295, -0.0067, -0.0302,  0.0112,
        -0.0122, -0.0821,  0.0589, -0.0976, -0.0933,  0.0064, -0.0399,
         0.0827, -0.0884,  0.0282, -0.0162,  0.003 ,  0.0447,  0.0874,
         0.0849,  0.027 , -0.0394,  0.0112,  0.0571,  0.0149,  0.0287,
        -0.046 ,  0.0819,  0.034 ,  0.0254,  0.0362, -0.066 , -0.0593,
        -0.0612,  0.0117,  0.0418,  0.02  , -0.0587,  0.0297,  0.0097,
        -0.0552,  0.0519,  0.0018,  0.0614, -0.0462,  0.0485, -0.0071,
        -0.0751, -0.0124,  0.0113, -0.0366,  0.0226, -0.0462,  0.0358,
        -0.032 , -0.0096, -0.0332,  0.0122,  0.0568,  0.0368,  0.0305,
         0.123 ,  0.0067,  0.0736,  0.1161, -0.07  ,  0.0352, -0.0601,
         0.0728,  0.0064, -0.0252,  0.0347, -0.0398, -0.1045,  0.0729,
         0.0237,  0.0226,  0.047 ,  0.0257, -0.017 ,  0.0345, -0.0016,
        -0.0457, -0.0044,  0.0682, -0.0312, -0.0625, -0.107 , -0.0309,
         0.0345,  0.0211,  0.0607, -0.0262, -0.0034,  0.071 ,  0.0298,
         0.0076, -0.0665,  0.0387,  0.0284, -0.049 , -0.0366, -0.0551,
         0.0258,  0.0321, -0.0131, -0.1178, -0.0299, -0.0204,  0.0393,
        -0.0064, -0.0198, -0.0868,  0.0114, -0.0491, -0.0421, -0.0674,
         0.1151, -0.0756, -0.0149, -0.0024,  0.0092, -0.016 ,  0.0107,
         0.1034, -0.002 , -0.0847, -0.01  ,  0.0823, -0.0829, -0.121 ,
        -0.1081, -0.0757, -0.1805, -0.0399,  0.0276,  0.0227,  0.0257,
         0.0088,  0.0037, -0.1552, -0.0029, -0.1443, -0.0511, -0.0628,
         0.0472, -0.0561,  0.0463, -0.0303,  0.0545, -0.0201,  0.0839,
        -0.0049, -0.0536, -0.0332, -0.0169, -0.0503, -0.1271,  0.0587,
        -0.032 , -0.0206, -0.0345, -0.006 ,  0.0351,  0.0569,  0.0319,
         0.0604, -0.0113, -0.0104,  0.0121,  0.0873, -0.0574,  0.0394,
        -0.0159,  0.0671, -0.0176,  0.1006,  0.0725,  0.0796, -0.0054,
         0.0032, -0.0566,  0.0603, -0.0502,  0.1274,  0.0282, -0.066 ,
        -0.124 ,  0.0628,  0.0281, -0.0581,  0.0478, -0.0185,  0.0708,
        -0.0545, -0.0044,  0.011 ,  0.0163, -0.0526, -0.0956, -0.0106,
         0.0189,  0.0066,  0.0164, -0.0195, -0.0481, -0.0175,  0.0903,
        -0.098 ,  0.004 , -0.142 , -0.0038, -0.061 ,  0.0866,  0.0628,
         0.0858,  0.0176,  0.0767,  0.0346,  0.0949,  0.0192,  0.0062,
         0.0487, -0.1055, -0.0334,  0.036 , -0.0774,  0.0243, -0.0126,
        -0.0163, -0.0016, -0.0158,  0.0647,  0.1231, -0.0021],
       dtype=float32)

In [52]:
model_es= gensim.models.KeyedVectors.load_word2vec_format('../fastext aligned/wiki.es.align.vec', binary=False, encoding='utf8')

In [53]:
model_es.save('../fastext aligned/bin/wiki.es.align.bin')

In [54]:
word_vectors2 = KeyedVectors.load('../fastext aligned/bin/wiki.es.align.bin', mmap='r')

In [55]:
word_vectors2.most_similar(positive=[word_vectors['cat']],topn=1)

[('gato', 0.5217772722244263)]

In [1]:
import pandas as pd

df = pd.read_csv("twits_cop25_results_en_es.csv")

In [2]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1223440758247694336,1223440758247694336,1580525981000,2020-01-31,23:59:41,-3,1059174634761920512,richarrdfrancis,Richard Francisco,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1059174634761920512', 'username'...",NaN,NaN,NaN,NaN
1,1223396330707525633,1223396330707525633,1580515389000,2020-01-31,21:03:09,-3,22161287,europleasuremac,Capitalist news is NOT news,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '22161287', 'username': 'EuroPlea...",NaN,NaN,NaN,NaN
2,1223380967332753408,1223380967332753408,1580511726000,2020-01-31,20:02:06,-3,71830408,adebotes,ðŸ‡³ðŸ‡¬ 'Seyifunmi Adebote ðŸ‡³ðŸ‡¬,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '71830408', 'username': 'adebotes...",NaN,NaN,NaN,NaN
3,1223380423004381189,1223357708990066688,1580511596000,2020-01-31,19:59:56,-3,1177887884235419648,dcarr55597079,D Carr,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1177887884235419648', 'username'...",NaN,NaN,NaN,NaN
4,1223377877648887809,1223377877648887809,1580510989000,2020-01-31,19:49:49,-3,172081908,jackthelad1947,John Pratt,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '172081908', 'username': 'Jackthe...",NaN,NaN,NaN,NaN

In [9]:
df = df.drop('id', 1)

In [17]:
df = df.drop('created_at', 1)

In [ ]:
df = df.drop('geo', 1)
df = df.drop('near', 1)
df = df.drop('source', 1)
df = df.drop('user_rt_id', 1)
df = df.drop('user_rt', 1)       
df = df.drop('retweet_id', 1)
df = df.drop('retweet_date', 1)
df = df.drop('translate', 1)
df = df.drop('trans_src', 1)
df = df.drop('trans_dest', 1)

In [19]:
df.head()

,conversation_id,date,time,timezone,user_id,username,name,place,tweet,mentions,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1223440758247694336,2020-01-31,23:59:41,-3,1059174634761920512,richarrdfrancis,Richard Francisco,NaN,Photograph by @hellenvanmeene for TIME -\n #e...,['hellenvanmeene'],...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1059174634761920512', 'username'...",NaN,NaN,NaN,NaN
1,1223396330707525633,2020-01-31,21:03:09,-3,22161287,europleasuremac,Capitalist news is NOT news,NaN,Billionaire Presidential Hopeful Mike Bloomber...,['democracynow'],...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '22161287', 'username': 'EuroPlea...",NaN,NaN,NaN,NaN
2,1223380967332753408,2020-01-31,20:02:06,-3,71830408,adebotes,ðŸ‡³ðŸ‡¬ 'Seyifunmi Adebote ðŸ‡³ðŸ‡¬,NaN,From our #COP25 meetings in Madrid and her pre...,['cop26'],...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '71830408', 'username': 'adebotes...",NaN,NaN,NaN,NaN
3,1223357708990066688,2020-01-31,19:59:56,-3,1177887884235419648,dcarr55597079,D Carr,NaN,Why was she not invited to COP25 in Madrid?,"['riddlywalkerb', '80_mcswan']",...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1177887884235419648', 'username'...",NaN,NaN,NaN,NaN
4,1223377877648887809,2020-01-31,19:49:49,-3,172081908,jackthelad1947,John Pratt,NaN,I just finished the Climate Change in Africa q...,[],...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '172081908', 'username': 'Jackthe...",NaN,NaN,NaN,NaN

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124524 entries, 0 to 124523
Data columns (total 32 columns):
conversation_id    124524 non-null int64
date               124524 non-null object
time               124524 non-null object
timezone           124524 non-null int64
user_id            124524 non-null int64
username           124524 non-null object
name               124523 non-null object
place              629 non-null object
tweet              124524 non-null object
mentions           124524 non-null object
urls               124524 non-null object
photos             124524 non-null object
replies_count      124524 non-null int64
retweets_count     124524 non-null int64
likes_count        124524 non-null int64
hashtags           124524 non-null object
cashtags           124524 non-null object
link               124524 non-null object
retweet            124524 non-null bool
quote_url          16076 non-null object
video              124524 non-null int64
near               0 non-null float64
geo                0 non-null float64
source             0 non-null float64
user_rt_id         0 non-null float64
user_rt            0 non-null float64
retweet_id         0 non-null float64
reply_to           124524 non-null object
retweet_date       0 non-null float64
translate          0 non-null float64
trans_src          0 non-null float64
trans_dest         0 non-null float64
dtypes: bool(1), float64(10), int64(7), object(14)
memory usage: 29.6+ MB